.container-input {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-input form {
  background-color: white;
  border-radius: 20px;
  width: 550px;
  position: relative;
  padding: 30px;
}
.container-input .input-data {
  display: flex;
  padding: 7px 10px;
  justify-content: space-between;
}
.container-input .input-data .radio-button {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  float: left;
}
.container-input .input-data #nama,
#usia,
#pendidikan,
#tanggal-lahir,
#status {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 0.5px solid #e6e6e6;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.container-input .input-data input:focus {
  outline: none;
  background-color: #ffeaea;
}
.container-input .input-data #perempuan #laki-laki {
  width: 50%;
  float: left;
}
.container-input form h2 {
  margin: 10px;
  margin-bottom: 20px;
}
.container-input .button {
  margin: 10px;
  margin-top: 30px;
  width: 225px;
  display: flex;
  justify-content: space-between;
}
.container-input .button button {
  width: 100px;

  border-radius: 5px;
  padding: 10px 20px;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.container-input .button #submit{
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
}

.container-input .button #submit:hover {
  background-color: #0071e2;
}
.container-input .button #ubah{
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
}

.container-input .button #ubah:hover {
  background-color: #0071e2;
}
.container-input .button #batal {
    border: 2px solid #20e461;
    background-color: #20e461;
  }
  .container-input .button #batal:hover {
    background-color: #15bd4d;
  }