/* @font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Thin.ttf') format('truetype');
} */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  margin-top: 90px;
  background-color: #dfdfdf;
  height: auto;
}

.container{
  width: 100%;
  height: 100vh auto;
}
/* styling nav bar */

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.5s;
}

header.active{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  background: white;
  height: 80px;
  width: 100%;
  align-items: center;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.05); */
  transition: height 0.25s;
}

.navbar-scroll {
  background-color: #fff; /* warna background saat navbar di-scroll */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* efek bayangan saat navbar di-scroll */
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  width: 100px;
}
.logo img {
  margin: auto;
  height: 50px;
  width: auto;
}
.navbar .menu {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-right: 100px;
}
.navbar .menu li {
  display: inline-block;
  margin: 0 5px;
}
.navbar .menu li a {
  color: #1e1e1e;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.navbar ul.menu li a.active,
.navbar ul.menu li a:hover {
  background: #d9d9d9;
  /* border: 1px solid #999; */
}
/* .navbar .menu li a.active{
  background: #d9d9d9;
} */
.nav-li:hover {
  color: #828282;
  transition: 0.5s;
}
/* a:hover {
  background: #d9d9d9;
  color: white;
} */


.con-logout {
  margin-left: 50px;
}
.btn {
  width: 80px;
  height: 35px;
  background: #2f7bee;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}


/* styling footer */

footer {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
}

footer span {
  color: #828282;
  font-size: 12px;
}
/* styling overview */

.overview {
  color: #828282;
  margin-left: 36px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.line-1 {
  width: auto;
  height: auto;
  display: flex;
  margin-left: 36px;
  margin-right: 36px;
  align-items: center;
  justify-content: space-between;
}
.ovw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 30%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #828282;
  border-top: 1px solid #828282;
}
.ovw a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabel-1 {
  width: 100%;
  height: 85px;
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;
  background-color: white;
  margin-right: 36px;
  margin-left: 36px;
}
.ov-title {
  font-size: 36px;
  font-weight: bold;
  color: #1e1e1e;
}
.ov-nm {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #1e1e1e;
}

/* styling hetabel */
.div-tabel {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  margin-right: 36px;
  margin-left: 36px;
  background-color: white;
  border-bottom: 1px solid #828282;
  border-top: 1px solid #828282;
}
.data {
  width: auto;
  margin-right: 18px;
  margin-left: 18px;
  margin-top: 12px;
}
.div-sh {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 18px;
}
.div-sh input {
  width: 40px;
}
.div-sh button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.div-sh button:hover {
  background-color: #3a943d;
}
.div-page {
  display: flex;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
  justify-content: end;
}
.div-page button {
  background-color: #ffffff;
  border: 1px solid #828282;
  color: #828282;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  width: 45px;
}
.div-page button:hover {
  background-color: #bbbbbb;
  color: white;
}
#prevBtn {
  border-radius: 5px 0px 0px 5px;
}
#nextBtn {
  border-radius: 0px 5px 5px 0px;
}
.page-number {
  padding: 5px 10px;
  text-align: center;
  background-color: #1967dd;
  border-bottom: 1px solid #828282;
  border-top: 1px solid #828282;
  color: white;
  font-size: 14px;
}

/*styling bitton edit delete*/
.bt-eddt{
  display: flex;
  width: 60px;
  margin: auto;
  justify-content: space-between;
}

