* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  margin-top: 80px;
  background-color: #dfdfdf;
  height: auto;
  /* background-image: url(../img/Desktop\ -\ 1.png); */
  /* background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Arial', sans-serif;
}

.container {
  width: 100%;
  height: 100vh auto;
}
/* styling nav bar */

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.5s;
}

header.active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  align-items: center;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.05); */
  transition: height 0.25s;
}

.navbar-scroll {
  background-color: #fff; /* warna background saat navbar di-scroll */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* efek bayangan saat navbar di-scroll */
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  width: 100px;
}
.logo img {
  margin: auto;
  height: 50px;
  width: auto;
}
.navbar .menu {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-right: 100px;
}
.navbar .menu li {
  display: inline-block;
  margin: 0 13px;
  /* border: 1px solid black; */
  padding: 7px 10px;
}
.navbar .menu li a {
  color: #252525;
  padding: 7px 13px;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 17px;
  /* font-weight: bold; */
}
.navbar .menu li a:hover {
  color: #2f7bee;
  transition: 0.3s;
}
.navbar .menu li .dropdown a i{
  font-size: .9em;
  padding: 0 4px;
  /* transition: transform 0.3s ease-in-out; */
}

.navbar .menu li .dropdown a {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 2px;
}

.navbar .menu li .dropdown .menu2 {
  position: absolute;
  display: grid;
  top: 60px;
  left: 381px;
  width: 180px;
  padding: 8px 0;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 40px 40px rgba(0 0 0 / 10%);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}
.navbar .menu li .dropdown:hover .menu2 {
  opacity: 1;
  visibility: visible;
}
.navbar .menu li .dropdown .menu2::before {
  content: "";
  background: inherit;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  top: -7px;
  right: 22px;
  width: 12px;
  height: 12px;
  rotate: -45deg;
}
.con-logout {
  margin-left: 50px;
}

.navbar form {
  margin-right: 100px;
}
.btn {
  width: 80px;
  height: 35px;
  background: #2f7bee;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

/* styling footer */

footer {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
}

footer span {
  color: #828282;
  font-size: 12px;
}
/* styling overview */
.container .page-title{
  /* border: 1px solid black; */
  width: 100% auto;
  padding: 20px 0;
  background-color: #95BDFF;
}
.overview {
  color: #fffafa;
 margin: 20px 36px ;
 text-align: center;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 2px 2px 0 rgb(82, 94, 117, 0.5);

}

.line-1 {
  width: auto;
  height: auto;
  display: flex;
  margin: 25px 36px;
  align-items: center;
  justify-content: space-between;
  /* display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2em;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; */
}
.ovw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 30%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* border-bottom: 1px solid #828282;
  border-top: 1px solid #828282; */
}
.ovw a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabel-1 {
  width: 100%;
  height: 85px;
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;
  background-color: white;
  margin-right: 36px;
  margin-left: 36px;
}
.ov-title {
  font-size: 36px;
  font-weight: bold;
  color: #252525;
}
.ov-nm {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #252525;
}

/* styling hetabel */
.div-tabel {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  margin-right: 36px;
  margin-left: 36px;
  background-color: white;
  border-bottom: 1px solid #828282;
  border-top: 1px solid #828282;
}
.data {
  width: auto;
  margin-right: 18px;
  margin-left: 18px;
  margin-top: 12px;
}
.div-sh {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 18px;
}
.div-sh input {
  width: 40px;
}
.div-sh button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.div-sh button:hover {
  background-color: #3a943d;
}
.div-page {
  display: flex;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
  justify-content: end;
}
.div-page button {
  background-color: #ffffff;
  border: 1px solid #828282;
  color: #828282;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  width: 45px;
}
.div-page button:hover {
  background-color: #bbbbbb;
  color: white;
}
#prevBtn {
  border-radius: 5px 0px 0px 5px;
}
#nextBtn {
  border-radius: 0px 5px 5px 0px;
}
.page-number {
  padding: 5px 10px;
  text-align: center;
  background-color: #1967dd;
  border-bottom: 1px solid #828282;
  border-top: 1px solid #828282;
  color: white;
  font-size: 14px;
}

/*styling bitton edit delete*/
.bt-eddt {
  display: flex;
  width: 60px;
  margin: auto;
  justify-content: space-between;
}
.bt-eddt a i{
  font-size: 1.2em;
  color: #525E75;
  
}
.bt-eddt a i:hover{
  color: #95BDFF;
  transition: .3s;
}
