.container-chart {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100vh auto;
  padding: 50px;
  flex-wrap: wrap;
}
.container-chart .chart-1 {
  position: relative;
  width: 40%;
  height: 500px;
  /* border: 1px solid black; */
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: grid;
  place-items: center;
  margin: 20px;
  background-color: white;
}
.container-chart .chart-1 h4 {
  padding: 30px;
}
/* .container .chart-1 canvas {
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  min-height: 150px;
  height: 100%;
  max-height: 400px;

} */
